<!DOCTYPE html>
<html class="no-js" ng-app="samplePopup" xmlns:ng="http://angularjs.org">
<head>
  <meta charset="utf-8">
  <title>Sample popup</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.css"/>
  <style>
  #white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
  }
  </style>
</head>
<body ng-controller="MainCtrl as main">
  <div class="container-fluid">
    <p>{{ main.result }}</p>
    <input ng-model="main.title"/>
    <div my-directive="main.title"></div>
    <span>{{main}}</span>
  </div>

  <script type="text/ng-template" id="popup-base.tpl.html">
    <div id="white-popup">
      <p>{{ title }}</p>
      <form name="modal-form" ng-submit="$event.preventDefault(); modal.submit()">
        <select ng-model="modal.selected" ng-options="entity.id as entity.username for entity in modal.entities">
          <option value="" disabled="disabled"> (Please select an entity) </option>
        </select>
        <button ng-disabled="!modal.selected" type="submit" class="btn btn-success">Accept</button>
      </form>
    </div>
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="sample-popup.js"></script>
</body>
