body {
  padding-top: 20px;
}
.treeview {
  padding-left: 24px;
  list-style-type: none;
}
.treeview li > div {
  cursor: pointer;
  color: #777;
}
.treeview li > div:hover {
  color: #000;
}
.treeview .tree-icon {
  float: left;
  margin-right: 5px;
}
